@use 'base/variables' as v;
@use 'base/mixins' as m;


.notwebp {
    .notavif {
        .header {
            background-image: url(../img/header.jpg);
            @include m.header-base;
        }
    }
}
.webp {
    .header {
        background-image: url(../img/header.webp);
        @include m.header-base;
    }
}
.avif {
    .header {
        background-image: url(../img/header.avif);
        @include m.header-base;
    }
}